@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/base';
@import 'base/typography';
@import 'base/utilities';
@import 'base/animation';

@import 'layout/navigation';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/tableStyles';

@import 'components/button';
@import 'components/empower';
@import 'components/testimonials';
@import 'components/solution';
@import 'components/slider';
@import 'components/app';
@import 'pages/home';
