.app {
  margin: 0 auto;
  max-width: 108rem;
  padding: 0 6.2rem 0 7.3rem;
  display: flex;
  gap: 9rem;

  &__description {
    text-align: center;
    padding-top: 3.5rem;
  }

  &__heading {
    font-size: 4rem;
    color: var(--color-grey-3);
    line-height: 1.18;
    margin-bottom: 3.5rem;
  }

  &__text {
    font-size: 2rem;
    color: var(--color-grey-3);
    margin-bottom: 4.3rem;
  }

  &__store--logo {
    display: inline-block;
    height: 6.4rem;
    width: 23.4rem;
    padding: 0.9rem 4.35rem 1rem 4.45rem;
    background-color: #000000;
    border-radius: 7px;
    cursor: pointer;
    img {
      width: 100%;
    }
  }

  &__img {
    @media only screen and (max-width: $bp-medium) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
