.slider {
  max-width: 108rem;
  height: 78.2rem;
  margin: 0 auto;
  padding: 4.4 16.4rem 14.4rem 16.4rem;
  border-radius: 12px;
  position: relative;
  background-color: var(--color-primary-light-2);
  border-radius: 0 0 1.9rem 1.9rem;
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    height: 120.2rem;
  }

  .slide {
    top: 0;
    width: 100%;
    position: absolute;
    @include flex;
    transition: transform 1s;
  }

  &__btn {
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 120%;
    z-index: 999;

    @media only screen and (max-width: $bp-medium) {
      top: 90%;
    }

    img {
      max-width: 9.4rem;
      max-height: 9.4rem;

      @media only screen and (max-width: $bp-medium) {
        max-width: 4.4rem;
        max-height: 4.4rem;
      }
    }
  }

  &__btn--left {
    left: 6.2%;
    transform: translate(-50%, -50%);

    @media only screen and (max-width: $bp-medium) {
      left: 12%;
    }
  }

  &__btn--right {
    right: 6.2%;
    transform: translate(50%, -50%);

    @media only screen and (max-width: $bp-medium) {
      right: 75%;
    }
  }
}

.dots {
  position: absolute;
  display: flex;
  gap: 1.2rem;
  bottom: 11%;
  left: 50%;
  transform: translateX(-50%);

  @media only screen and (max-width: $bp-medium) {
    bottom: 5%;
  }

  &__dot {
    border: 1px solid var(--color-white);
    background-color: transparent;
    border-radius: 50%;
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
  }

  &__dot--active {
    background-color: var(--color-white);
  }
}

.story {
  max-width: 75.2rem;
  padding: 3.2rem 6.3rem 3.9rem 3.2rem;
  background-color: var(--color-white);
  border-radius: 1.2rem;
  display: flex;
  gap: 4.8rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 3.2rem 3.2rem 3.9rem 3.2rem;
    flex-direction: column;
  }

  &__left-side {
    flex: 0 0 49.5%;
    background: rgba(231, 236, 238, 0.27);
  }

  &__left-side--img-part {
    position: relative;
  }

  &__logo {
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5%;
    left: 3.4%;
  }

  &__location {
    display: inline-block;
    position: absolute;
    padding: 0.4rem 2rem 0.8rem 2rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    color: var(--color-primary-light);
    background-color: var(--color-grey-5);
    letter-spacing: 2px;
    top: 81%;
    left: 60.3%;
  }

  &__img {
    margin-bottom: 2.8rem;
    img {
      width: 100%;
    }
  }

  &__left-side--text-part {
    padding: 0 1.6rem 4rem 2.4rem;
  }

  &__homewon {
    font-size: 1.1rem;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: var(--color-grey-3);

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    gap: 0.6rem;

    &::before,
    &::after {
      content: '';
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &__logo--2 {
    text-align: end;
    padding: 3.3rem 2rem 1.9rem 2.4rem;
    border-bottom: 1px solid var(--color-primary-light-1);

    @media only screen and (max-width: $bp-medium) {
      padding: 1.3rem 1rem 1.3rem 1rem;
    }
    img {
      height: 6.7rem;
      width: 8.4rem;
    }
  }

  &__text-container {
    padding-top: 2.9rem;
    display: flex;
    align-items: center;
    gap: 7rem;

    @media only screen and (max-width: $bp-medium) {
      gap: 3rem;
    }

    h5 {
      font-size: 1.1rem;
      color: var(--color-grey-3);
      line-height: 3rem;
    }

    p {
      font-size: 1.6rem;
      line-height: 2.16rem;
      color: var(--color-grey-11);
    }
  }

  &__right-side {
    padding-top: 12rem;
    flex: 1;

    @media only screen and (max-width: $bp-medium) {
      padding-top: 0rem;
    }
  }

  &__heading {
    font-size: 3.2rem;
    color: var(--color-grey-12);
    letter-spacing: 0.16px;
    margin-bottom: 3.7rem;
    line-height: 3.52rem;
  }

  &__text {
    font-size: 1.8rem;
    color: var(--color-grey-11);
    line-height: 1.7;
    margin-bottom: 6.6rem;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 2rem;
    }
  }

  &__btn {
    color: var(--color-white);
    background-color: var(--color-primary-darker-4);
  }

  &__icon {
    display: flex;
    gap: 1.4rem;
    align-items: center;
    cursor: pointer;

    p {
      font-size: 1.6rem;
      color: var(--color-primary);
    }
  }
}
