.footer {
  padding: 0 6rem;
  max-width: 120rem;
  margin: 0 auto;

  @media only screen and (max-width: $bp-medium) {
    padding: 0 3rem;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    gap: 5rem 1.8rem;
    padding-right: 11rem;
    flex-wrap: wrap;
    margin-bottom: 11.3rem;

    @media only screen and (max-width: $bp-medium) {
      padding-right: 0;
    }
  }

  &__logos {
    display: flex;
    align-content: center;
    flex-wrap: wrap;

    @media only screen and (max-width: $bp-largest) {
      justify-content: space-between;
      gap: 1.8rem;
    }
  }

  &__logo {
    img {
      width: 11.9rem;
      height: 2.3rem;
    }
  }

  &__heading {
    color: var(--color-white-footer);
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }

  &__nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--color-white-footer);
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    color: var(--color-grey-7);
  }

  &__logo-secondary {
    margin-right: 17.1rem;

    @media only screen and (max-width: $bp-largest) {
      margin-right: 0;
    }
  }

  &__text {
    margin-right: 24.6rem;
    display: flex;
    flex-direction: column;
    color: var(--color-white-footer);

    @media only screen and (max-width: $bp-largest) {
      margin-right: 0;
    }

    div {
      display: flex;
      text-align: center;
      gap: 1.6rem;
    }

    &--terms {
      font-size: 1.6rem;
      cursor: pointer;
    }

    &--privacy {
      font-size: 1.5rem;
      cursor: pointer;
    }

    &--copyright {
      font-size: 1.4rem;
    }
  }

  &__socials {
    display: flex;
    gap: 5.3rem;
    img {
      width: 2.1rem;
      height: 2.1rem;
      cursor: pointer;
    }
  }
}
